<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- ctrl + Alt + L > 자동 줄 바꿈(정리)-->

<!-- 타임리프 변수 사용법 -->
<body>
  <div th:with="name='홍길순'">
    <div>안녕하세요 저는 <span th:text="${name}"></span>입니다</div>
    <div>안녕하세요 저는 <span th:text="${name}"></span>입니다</div>
    <div>안녕하세요 저는 <span th:text="${name}"></span>입니다</div>
    <div>안녕하세요 저는 <span th:text="${name}"></span>입니다</div>
    <div>안녕하세요 저는 <span th:text="${name}"></span>입니다</div>
  </div>
</body>
</html>