<html lang="ko" layout:decorate="~{article/layout}">
<div layout:fragment="content">
    <form th:action="@{|/article/modify/${article.id}|}" method="post" onsubmit="checkSubmit(this); return false;">
        <div>
            <label for="title">제목</label>
            <input type="text" name="title" th:value="${article.title}">
            <!--    <div th:text="${article.title}"></div>-->
        </div>
        <hr>
        <div>
            <label for="body">내용</label>
            <input type="text" name="body" th:value="${article.body}">
            <!--    <div th:text="${article.body}"></div>-->
        </div>
        <input type="submit" value="수정"/>

    </form>
    <form th:action="@{|/article/delete/${article.id}|}" method="post">
        <input type="submit" value="삭제"/>
    </form>

    <hr>

    <form action="article/comment">
        <label for="comment">댓글</label>
        <input type="text" name="ment">
        <input type="submit" value="등록">
    </form>

    <script>
        function checkSubmit(form) {
            console.log('test');
            if(form.title.value.trim().length == 0) {
                alert('제목을 입력해주세요.');
                titleInput.focus();
                return;
            }

            if(form.body.value.trim().length == 0) {
                alert('내용을 입력해주세요.');
                bodyInput.focus();
                return;
            }

            form.submit();
        }
    </script>
</div>
</html>