<html lang="ko" layout:decorate="~{global/layout}">
<form action="" method="post" layout:fragment="content" class="flex flex-col gap-5 items-center mt-[50px]">
  <input
          type="text"
          name="joinId"
          placeholder="아이디"
          class="input input-bordered input-primary w-full max-w-xs" />
  <input
          type="text"
          name="joinPw"
          placeholder="비밀번호"
          class="input input-bordered input-primary w-full max-w-xs" />
  <input type="submit" value="가입" class="btn btn-outline btn-primary w-[100px]">
</form>
</html>